@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.activities {
  .ng-star-inserted {
    @include flex();
    align-items: center;
  }
}

.inputs {
  margin-top: 50px;
  background: $primary-gray;
  .sub-title {
    color: $primary-purple;
  }
}
