@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";

.mdc-switch__knob {
  background: $primary-purple--middle;
}

.delete-btn {
  margin-top: 20px;
}

.switch-label {
  padding-left: 34px;
}
