<app-navbar></app-navbar>

<middle-nav-bar></middle-nav-bar>

<sub-navbar title="{{ project.name }}" class="sub-navbar">
  <button mdc-fab #fab class="main-fab-btn" [routerLink]="['/projects', project.id, 'edit']">
    <mdc-icon>edit</mdc-icon>
  </button>
  <mdc-toolbar-section [alignEnd]="true" class="toolbar-row__section sub-menu">
    <button mat-button [routerLink]="['/projects', project.id, 'matrix']">Matrix</button>
  </mdc-toolbar-section>
  <search (onChange)="setFilter($event)" class="search"></search> 
</sub-navbar>
<div class="layout-wrapper">
  <div class="ui-g-12 project">
    <div class="ui-g-12 ui-md-5 image-wrapper">
      <img src="{{project.image.url}}" alt="{{project.name}}" title="{{project.name}}">
    </div>
    <div class="ui-g-12 ui-md-7">
      <h1>{{project.name}}</h1>
      <div class="description">{{project.description}}</div>
    </div>
  </div>
  <div class="ui-g-12 disciplines">
    
  </div>
</div>
