@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";


.btn-add-item {
  width: 100%;
}

.phase {
  background: #ebedf0;
  background: transparent;
  //margin: 0 16px;
  overflow-x: hidden;
  margin-bottom: 16px;
  overflow-x: hidden;

  .section-bag {
    min-height: 100px;
  }

  .phase-header {
    @include flex();
    align-items: center;
    justify-content: space-between;
    background: $primary-purple--middle;
    color: $white;

    h2 {
      display: inline-block;
      margin: 0;
      font-size: 20px;
      color: $white;
    }

    .actions {
      cursor: pointer;
      color: $white;
      position: relative;
      padding: .5em;

      .btn {
        padding: 0;
      }

      &:hover {
        color: $green--light;
      }
    }
  }

  .activities {
    padding: 0;
  }
}

.btn-icon {
  cursor: pointer;
}

.action-wrapper {
  @include flex();
  justify-content: space-between;
  align-items: center;

  .action-button {
    background-color: green;
    color: $white;
  }
}
