@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";


.btn-add-item {
  width: 100%;
}

.phase {
  background: #ebedf0;
  background: transparent;
  //margin: 0 16px;
  overflow-x: hidden;
  margin-bottom: 16px;
  overflow-x: hidden;

  .section-bag {
    min-height: 100px;
  }

  .phase-header {
    @include flex();
    align-items: center;
    justify-content: space-between;
    background: $primary-purple--middle;
    color: $white;

    h2 {
      display: inline-block;
      margin: 0;
      font-size: 20px;
      color: $white;
    }

    .actions {
      cursor: pointer;
      color: $white;
      position: relative;
      padding: .5em;

      .btn {
        padding: 0;
      }

      &:hover {
        color: $green--light;
      }
    }
  }

  .activities {
    padding: 0;

    .table {
      text-align: center;

      .table-header {
        @include flex();
        justify-content: space-between;

        .action-header {
          align-self: center;
        }

        .actions {
          mat-icon {
            cursor: pointer;
          }

          .add-btn, .edit-btn {
            background-color: transparent;
            color: $green;
            cursor: pointer;

            &:hover {
              color: $green--light;
            }
          }

          .delete-btn {
            background-color: transparent;
            color: $primary-gray;
            cursor: pointer;

            &:hover {
              color: $primary-gray--dark;
            }
          }
        }
      }

      .add-btn, .edit-btn {
        background-color: transparent;
        color: $green;
        cursor: pointer;

        &:hover {
          color: $green--light;
        }
      }

      .icon-note {
        color: #999999;
      }

      .delete-btn {
        background-color: transparent;
        color: $primary-gray;
        cursor: pointer;

        &:hover {
          color: $primary-gray--dark;
        }
      }
    }

    .table-footer {
      padding: .5em .75em;
    }
  }
}

.btn-icon {
  cursor: pointer;
}

.action-wrapper {
  @include flex();
  justify-content: space-between;
  align-items: center;

  .action-button {
    background-color: green;
    color: $white;
  }
}

.table {
  border-collapse: collapse;
  margin-bottom: 3em;
  font-size: 70%;
  line-height: 1.1;
  width: 100%;

  .table-header {
    th {
      background: #c6ceda;
      border-color: #fff #fff #888 #fff;
      border-style: solid;
      border-width: 1px 1px 2px 1px;
      padding-left: .5em;
    }
  }

  .table-body {
    .table-body-row {
      th.activity-name {
        padding-left: 15px;
        width: 20%;
      }

      th.name {
        padding-left: 26px;
        width: 20%;
      }

      th {
        input {
          width: 100%;
        }
      }

      &.edit-mode {
        .field-name {
          padding-left: 26px;
        }
      }

      .action:last-child {
        text-align: right;
      }

      td {
        max-width: 100%;

        &:not(:first-child) {
          text-align: center;
        }

        &.progress {
          width: 5%;
        }

        &.checked-by, &.field-checked-by {
          width: 10%;
        }

        &.checked-date, &.field-checked-date {
          width: 15%;

          input {
            max-width: 100px;
          }
        }

        &.estimate, &.field-estimate {
          width: 3%;

          input {
            max-width: 35px;
          }
        }

        &.actual, &.field-actual {
          width: 3%;

          input {
            max-width: 35px;
          }
        }

        &.qa {
          width: 3%;
        }

        &.note {
          width: 3%;
        }

        &.action {
          width: 3%;
        }

        &.field-action {
          text-align: right;
        }
      }


      th.end {
        padding-left: 26px;
      }
    }
  }

  tr:hover, td.start:hover, td.end:hover {
    background: #FF9;
  }

  th, td {
    padding: .3em .5em;
  }

  th {
    font-weight: normal;
    text-align: left;
    padding-left: 15px;

    .name {
      width: 12em;
    }
  }
}
