
<div *ngIf="!loaded; else table" class="loading"><mat-spinner></mat-spinner></div>

<ng-template #table>
  <div class="phase edit-mode mat-elevation-z8" *ngFor="let phase of phases; let phaseIndex = index">
    <div class="phase-header">
      <h2 class="ui-g-11">{{phase.category}}</h2>

      <div class="actions">
        <button class="ui-g-1 add-btn btn" mat-button (click)="addActivity(phase.id)">Add section</button>
      </div>
    </div>

    <div class="section-bag" [dragula]='"section-bag"' [dragulaModel]='getTaskActivitiesToPhase(phase.id)'>
        <div *ngFor="let activity of getTaskActivitiesToPhase(phase.id); let task_activityIndex = index" class="activities ui-g-12" data-phaseId='phase.id'>

          <activity-table [phase]="phase" [activity]="activity" [taskActivityItems]="getTaskActivityItemsToActivity(activity.id)" (onUpdateData)="updateData()"></activity-table>
              
        </div>
      </div>
  </div>
</ng-template>
