@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";


.btn-add-item {
  width: 100%;
}

.phase {
  background: #ebedf0;
  margin-bottom: 75px;

  .activities {

    .table {
      text-align: center;
    }

    .table-footer {
      padding: .5em .75em;
    }
  }
}

.action-wrapper {
  @include flex();
  justify-content: space-between;
  align-items: center;

  .action-button {
    background-color: green;
    color: $white;
  }
}

.edit-btn, .delete-btn {
  background-color: transparent;
  color: #747474!important;
  cursor: pointer;

  &:hover {
    color: #212121!important;
  }
}
