<form class="form" [formGroup]="addProject">

  <!-- Name field -->
  <mat-form-field class="form-full-width">
    <input matInput formControlName="name" placeholder="Name" class="input-field">
  </mat-form-field>

  <!-- Image field -->
  <mat-form-field class="form-full-width file-uploader">
    <file-uploader formControlName="image" placeholder="Image" (onUploaded)="onUploadedImage($event)"></file-uploader>
  </mat-form-field>

  <!-- Description field -->
  <mat-form-field class="form-full-width">
    <textarea matInput formControlName="description" placeholder="Description" atTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" class="form-text-area"></textarea>
  </mat-form-field>

  <!-- Template field -->
  <mdc-form-field [alignEnd]="true">
    <mdc-switch formControlName="is_template"></mdc-switch>
    <label>Is template</label>
  </mdc-form-field>
</form>
