@import "../../../assets/styles/variables.scss";

h1 {
  text-align: center
}

.projects-page {

  .navbar {
    background-color: $primary-secondary;
    height: 50px;

    .profile {
      button {
        background-color: $primary;
      }
    }

    .menu {
      .nav {
        margin: 0;
        list-style: none;
      }
    }
  }
}
