

<div *ngFor="let phase of dataSource" class="inputs"> 
  <h2>{{phase.category}}</h2>

  <div *ngFor="let item of phase.task_activities" class="activities">
    <h4 class="sub-title">{{item.name}}</h4>
    <div *ngFor="let task_activity_items of item.task_activity_items" class="ui-g-12">
      <div class="ui-g-12 ui-md-5"><h5>{{task_activity_items.name}}</h5></div>
      <div class="ui-g-12 ui-md-7">
        <google-chart [data]="{
        chartType: 'BarChart',
        dataTable: [
          ['Genre', 'Estimated hours', 'actual hours', 'hours over', { role: 'style' }, { role: 'annotation' }],
          ['',task_activity_items.hours_actual, task_activity_items.hours_estimated, task_activity_items.hours_estimated - task_activity_items.hours_actual , '', '']
        ],
        options: {
          width: 400,
          height: 40,
          legend: { position: 'top', maxLines: 5 },
          bar: { groupWidth: '75%' },
          isStacked: true,
          backgroundColor: {fill: 'transparent'} ,
          backgroundColor: 'transparent'
        }
      }"></google-chart> 
     
      </div> 
    </div>
  </div>
</div>

<!--<google-chart [data]="pieChartData"></google-chart>-->
   
