@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.phase {
  background: transparent;
  margin-bottom: 16px;
  overflow-x: hidden;


  .phase-header {
    @include flex();
    align-items: center;
    justify-content: flex-start;
    background: $primary-purple--middle;
    color: $white;

    h2 {
      margin: 0;
      color: $white;
      font-size: 20px;
      padding: 0.5em;
    }
  }

  .activities {
    padding: 0;
    overflow: hidden;

    .bar {
      padding: 0.5em;

      h4 {
        color: $primary-purple;
      }
    }
  }
}
