@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.phase {
  background: transparent;
  margin-bottom: 75px;
  overflow-x: hidden;


  .phase-header {
    @include flex();
    align-items: center;
    justify-content: flex-start;
    background: $primary-purple--light;
    color: $white;
    padding: 0 16px;

    h2 {
      margin: 0;
      color: $white;
      line-height: 2em;
    }
  }

  .activities {
    padding: 0;

    .table {
      text-align: center;

      .table-header {
        @include flex();
        justify-content: flex-start;
      }

      .ui-widget-header {
        background: $white;
        color: $black;
        text-transform: uppercase;
      }

      .ui-datatable-thead {
        > tr {
          > th {
            background: $white;
            color: $black;
            border: 1px solid $white !important;
          }
        }
      }
    }
  }
}



h5 {
  margin: 0;
}

h2 {
  text-align: center;
  margin-top: 50px;
}

#dashboard {
  width: 320px;
  border: 1px solid black;
}

p {
  text-align: center;
} 
