@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";


:host {
  max-width: $max-width;
}
.loading {
  position: fixed;
  @include flex();
  align-items: center;
  justify-content: center;
  width: 100%;
}

.list-view {
  margin: 0 16px;

  .icon {
    cursor: pointer;
    color: $primary-gray;

    &:hover {
      color: $black;
    }
  }
}

.navbar-header {

  @include phone() {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
  }

  .control-item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &.select {
      min-width: 200px;
    }

    .filter {
      border: 1px solid $primary-gray;
      background: transparent;
      width: 150px;
      padding: 5px 35px 5px 5px;
      font-size: 16px;
      border: 1px solid $primary-gray;
      height: 20px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url() 96%/15% no-repeat #eee;
    }

    .list-view, .grid-view {
      color: $primary-icon;
      font-size: 30px;
      padding: 6px 0;
      cursor: pointer;

      &.on {
        color: $primary-icon--hover;
      }
    }

    

    @include phone() {
      margin-right: 0;

      &:first-child {
        margin-bottom: 15px;
      }
    }
  }
}

.buttons {
  max-width: 92%;
  min-width: 100px;
  text-align: right;
  padding-right: 3%;

  @include phone() {
    margin-top: 12px;
  }
}
