<app-navbar></app-navbar>


<sub-navbar title="Projects" class="sub-navbar"> 
  <button mdc-fab #fab class="main-fab-btn" [routerLink]="['create']">
    <mdc-icon>add</mdc-icon>
  </button>
  <search (onChange)="applyFilter($event)" class="search"></search> 
</sub-navbar>

<div class="layout-wrapper">

  <div class="navbar-header">
    <div class="flex-spacer"></div>
    <div class="control-item select">

      <ng-select [items]="sortItems"
                 bindLabel="name"
                 bindValue="sort"
                 placeholder="Sort By"
                 [(ngModel)]="currentSortItem"
                 (change)="sortData($event.sort)">
      </ng-select>


      <!--<select name="Sort By" (change)="sortData($event.srcElement.value)">
        <option value="">Sort by</option>
        <option value="name">Name (A to Z)</option>
        <option value="name-revers">Name (Z to A)</option>
        <option value="date">Date of creation (from early to late)</option>
        <option value="date-revers">Date of creation (from late to early)</option>
      </select>-->
    </div>
    <div class="control-item">
      <i class="material-icons list-view" [ngClass]="{'on': currentView === 'list'}" (click)="setView('list')">reorder</i>
      <i class="material-icons grid-view" [ngClass]="{'on': currentView === 'grid'}" (click)="setView('grid')">apps</i>
    </div>
  </div>

  <div *ngIf="!loaded" class="loading"><mat-spinner></mat-spinner></div>

  <div *ngIf="filterData && filterData.length === 0 && loaded" class="no-results"><h3>No projects</h3></div>

  <div *ngIf="currentView === 'grid'; else listView"class="mdc-grid-list mdc-grid-list--tile-aspect-16x9">
    <ul class="mdc-grid-list__tiles" cardview #cardview>
      <li class="mdc-grid-tile" *ngFor="let project of filterData" [mdc-elevation]="5" hoverElevation> 
        <div class="mdc-grid-tile__primary">
          <mdc-card class="project-card mdc-grid-tile__primary-content">
            <mdc-card-primary-action mdc-ripple class="primary-action" (click)="goToMatrix(project.id)">
              <img *ngIf="project.image.url; else placeholder" src="{{project.image.url}}" />
              <ng-template #placeholder>
                <img src="assets/images/placeholder.png" />
              </ng-template>
            </mdc-card-primary-action>
            
            <mdc-card-actions class="card-action">
              <div class="project-card__primary" (click)="goToMatrix(project.id)">
                <h2 class="project-card__title" mdc-typography-title>{{ project.name }}</h2>
              </div>
              <mdc-card-action-icons class="card-action-icons">
                <mdc-icon mdcCardAction="icon" class="icon" [routerLink]="['../', 'projects', project.id, 'urls']">link</mdc-icon>
                <mdc-icon mdcCardAction="icon" class="icon" (click)="onSelect(project)">remove_red_eye</mdc-icon>
                <mdc-icon mdcCardAction="icon" class="icon" [routerLink]="['../', 'projects', project.id, 'edit']">edit</mdc-icon>
                <mdc-icon mdcCardAction="icon" class="icon" (click)="openDeleteDialog(project)">delete</mdc-icon>
              </mdc-card-action-icons>
            </mdc-card-actions>
          </mdc-card>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #listView>

    <div class="list-view-container mat-elevation-z8">
      <mat-table #table [dataSource]="filterData">


        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element" class="action" (click)="goToMatrix(element.id)"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Status code Column -->
        <ng-container matColumnDef="status_code">
          <mat-header-cell *matHeaderCellDef> Status code </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.status_code}} </mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>
            
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="align-rigth">
            <div class="card-action-icons">
              <mdc-icon mdcCardAction="icon" class="icon" [routerLink]="['../', 'projects', element.id, 'urls']">link</mdc-icon>
              <mdc-icon mdcCardAction="icon" class="icon" (click)="onSelect(element)">remove_red_eye</mdc-icon>
              <mdc-icon mdcCardAction="icon" class="icon" [routerLink]="['../', 'projects', element.id, 'edit']">edit</mdc-icon>
              <mdc-icon mdcCardAction="icon" class="icon" (click)="openDeleteDialog(element)">delete</mdc-icon>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

  </ng-template>


</div>


