@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";


:host {
  max-width: $max-width;
}
.loading {
  position: fixed;
  @include flex();
  align-items: center;
  justify-content: center;
  width: 100%;
}

.list-view {
  margin: 0 16px;
  padding: 0;

  li {
    padding: 10px;
    overflow: auto;

    img {
      float: left;
      margin: 0 15px 0 0;
      max-height: 400px;
      max-width: 25%;
    }

    .card-action-icons {
      .icon {
        cursor: pointer;
      }
    }
  }
}

.navbar-header {

  @include phone() {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
  }

  .control-item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &.select {
      min-width: 300px;
    }

    select {
      //width: 100px;
      height: 30px;
      cursor: pointer;
      background: $primary-purple--middle;
      border: none;
      border-radius: 2px;
      font-size: 10pt;
      float: left;
      padding-left: 15px;
      color: $primary-gray;
      -webkit-transition: width .55s ease;
      transition: width .55s ease;
    }


    .filter {
      border: 1px solid $primary-gray;
      background: transparent;
      width: 150px;
      padding: 5px 35px 5px 5px;
      font-size: 16px;
      border: 1px solid $primary-gray;
      height: 20px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url() 96%/15% no-repeat #eee;
    }

    .container-2 {
      width: 170px;
      vertical-align: middle;
      white-space: nowrap;
      position: relative;

      .icon {
        position: absolute;
        top: 50%;
        margin-left: 3px;
        margin-top: 3px;
        z-index: 1;
        color: $primary-gray;
      }

      &:hover {
        width: 170px;

        .icon {
          color: $primary-gray--light;
        }
      }

      input#search {
        width: 170px;
        height: 30px;
        background: $primary-purple--middle;
        border: none;
        border-radius: 2px;
        font-size: 10pt;
        float: left;
        color: $primary-gray;
        padding-left: 35px;
        color: $white;
        -webkit-transition: width .55s ease;
        -moz-transition: width .55s ease;
        -ms-transition: width .55s ease;
        -o-transition: width .55s ease;
        transition: width .55s ease;

        &:focus, &:active {
          outline: none;
          width: 170px;
        }
      }
    }

    .list-view, .grid-view {
      color: $primary-icon;
      font-size: 30px;
      padding: 6px 0;
      cursor: pointer;

      &.on {
        color: $primary-icon--hover;
      }
    }

    

    @include phone() {
      margin-right: 0;

      &:first-child {
        margin-bottom: 15px;
      }
    }
  }
}

.buttons {
  max-width: 92%;
  min-width: 100px;
  text-align: right;
  padding-right: 3%;

  @include phone() {
    margin-top: 12px;
  }
}

.project-item {
  cursor: pointer;

  p-footer {
    @include flex();
    justify-content: space-between;

    .actions {
      display: inline-block;

      i {
        line-height: 1.2;
        color: $primary-purple;
        font-size: 1.6em;
        

        &:hover {
          color: $primary-purple-light;
        }
      }
    }
  }

  &:hover {
    p-panel {

      .ui-panel {
        background: #eee;
      }
    }
  }
}


// SELECT
