<app-navbar>
  <mdc-list-item  [routerLink]="['./']">
    <mdc-icon mdc-list-item-graphic>assignment</mdc-icon>Edit task
  </mdc-list-item>
  <mdc-list-item [routerLink]="['schedule']">
    <mdc-icon mdc-list-item-graphic>assignment</mdc-icon>Schedule
  </mdc-list-item>
  <mdc-list-item [routerLink]="['gantt']">
    <mdc-icon mdc-list-item-graphic>assignment</mdc-icon>Gantt
  </mdc-list-item>
  <mdc-list-item [routerLink]="['bar']">
    <mdc-icon mdc-list-item-graphic>assignment</mdc-icon>Bar
  </mdc-list-item>
  <mdc-list-item [routerLink]="['circle']">
    <mdc-icon mdc-list-item-graphic>assignment</mdc-icon>Circle
  </mdc-list-item>
</app-navbar>

<middle-nav-bar [task]="data"></middle-nav-bar>

<sub-navbar title="{{discipline?.category}}" subtitle="{{design_stage?.category}}" class="sub-navbar" [breadcrumbs]="breadcrumbs">
  <button mdc-fab #fab class="main-fab-btn"(click)="goBack()">
    <img class="main-fab-svg-image" src="/assets/icons/arrow-left.svg" alt="back" title="back" />
  </button>
  <mdc-toolbar-section [alignEnd]="true" class="toolbar-row__section sub-menu">
    <button mat-button [routerLink]="['./']">Edit task</button>
    <button mat-button [routerLink]="['schedule']">Schedule</button>
    <button mat-button [routerLink]="['gantt']">Gantt</button>
    <button mat-button [routerLink]="['bar']">Bar</button>
    <button mat-button [routerLink]="['circle']">Circle</button>
  </mdc-toolbar-section>
</sub-navbar>

<div class="layout-wrapper">
  <router-outlet></router-outlet>
  <!--<config-task *ngIf="editTask"></config-task>
  <schedule *ngIf="schedule" [data]="data.task_phases"></schedule>
  <google-keep-task-view *ngIf="googleKeepView" [data]="data.task_phases"></google-keep-task-view>
  <horizontal-histogram *ngIf="horizontalHistogramView" [data]="data.task_phases"> </horizontal-histogram>
  <gantt-view *ngIf="granttView" [data]="data.task_phases"></gantt-view>
  <circle-view *ngIf="circleView" [data]="data.task_phases"></circle-view>
      -->
</div>
