


<div class="panel-wrapper">
  <div class="panel">

    <div class="login">
      <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">

        <!--<div class="col-sm-12 input-field">

          <label for="email" class="form__label">Email</label>
          <input id="email" formControlName="email" placeholder="Your Email....*" type="text" value="" [ngClass]="{'error-field': (loginForm.controls['email'].hasError('required') || loginForm.controls['email'].hasError('email')) && loginForm.controls['email'].touched }">
        </div>


        <div class="col-xs-12 input-field password">
          <label for="password" class="form__label">Password</label>
          <input type="password" cols="5" rows="10" id="password" formControlName="password" placeholder="Your password....*" [ngClass]="{'error-field': loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched }">
          <a [routerLink]="['/resetpassword']" class="form__help">Forgot password?</a>
        </div>
        <div class="input-box">

        </div>
        -->
        <div class="col-xs-12">
          <!--<<button class="submit active" type="submit" [disabled]="!loginForm.valid">Sign In</button>-->
          <button class="submit active" type="button" (click)="loginMSTeams()">Sign In with MS</button>
        </div>
      </form>
    </div>
    

    <div class="introduction">
      <h2>Quality Planner</h2>
      <p>Your cloud platform to ensure quality in all aspects of Architecture, Engineering and Construction"</p>
    </div>

  </div>
</div>






