<p-dataTable class="table" [primeDragula]="[phase.id, activity.id]" [dragulaModel]="taskActivityItems"
             [dragulaOptions]="{ childContainerSelector: 'tbody', initAfterView: true, moves: handle }"
             #datatable [paginator]="false" [value]="taskActivityItems" [rowStyleMap]="table" [resizableColumns]="true" [responsive]="true" [editable]="true" (onEditComplete)="onValueChanged($event)" (onDroped)="onDropItem($event)" (onOver)="ngOnOverItem($event)">

  <p-header class="table-header handle-acivity"> 
    <span class="action-header">{{ activity.name }}</span>
    <div class="actions">
      <mat-icon class="edit-btn btn" [routerLink]="['./', 'task-activities', activity.id, 'edit', {taskId: phase.task_id}]">edit</mat-icon>
      <mat-icon class="add-btn btn" (click)="addItem(activity)">add</mat-icon>
    </div>
  </p-header>

  <p-column field="sort"  header="" [style]="{'overflow':'visible', 'width': '35px', 'border': 'none'}">
    <ng-template let-col let-task_activity_item="rowData" pTemplate="body">
      <div class="handle">|||</div>
    </ng-template>
  </p-column>

  <p-column field="is_enabled" header="" [style]="{'overflow':'visible', 'width': '35px', 'border': 'none'}">
    <ng-template let-col let-task_activity_item="rowData" pTemplate="body">
      <mat-checkbox [checked]="task_activity_item.is_enabled" [value]="task_activity_item.is_enabled" (change)="onEnableValueChanged($event, task_activity_item)"></mat-checkbox>
    </ng-template>
    <ng-template let-col let-task_activity_item="rowData" pTemplate="editor">
      <mat-checkbox [(ngModel)]="task_activity_item[is_enabled]" [checked]="task_activity_item.is_enabled" value="task_activity_item.is_enabled" (change)="onEnableValueChanged($event, task_activity_item)"></mat-checkbox>
    </ng-template>
  </p-column>

  <p-column field="name" header="Item" [editable]="true" [style]=" {'width': '300px', 'text-align': 'start', 'border': 'none' }"></p-column>
  <p-column field="percentage_complete" header="%" [editable]="false" [style]=" {'overflow':'visible', 'width': '75px' }">
    <ng-template let-col let-task_activity_item="rowData" pTemplate="body">
      <percentage [data]="task_activity_item[col.field]" (click)="changePercentage(item, task_activity_item)"></percentage>
    </ng-template>
  </p-column>
  <p-column field="checked_by" header="Cheked By" [editable]="true" [style]=" {'width': '200px' }"></p-column>
  <p-column field="checked_on" header="Checked Date" [editable]="true" [style]=" {'overflow':'visible', 'width': '250px' }">
    <ng-template let-col let-task_activity_item="rowData" pTemplate="body">
      {{task_activity_item[col.field]|date }}
    </ng-template>
    <ng-template let-col let-task_activity_item="rowData" pTemplate="editor">
      <p-calendar [(ngModel)]="task_activity_item[checked_on]" [defaultDate]="task_activity_item[checked_on]" appendTo="body" [inputId]="task_activity_item[id]" (onSelect)="onDateChanged($event, task_activity_item)"></p-calendar>
    </ng-template>
  </p-column>
  <p-column field="hours_estimated" header="Est." [editable]="true" [style]=" {'overflow':'visible', 'width': '30px' }"></p-column>
  <p-column field="hours_actual" header="Act." [editable]="true" [style]=" {'overflow':'visible', 'width': '30px' }"></p-column>
  <p-column field="is_locked" header="QA" [style]="{'overflow':'visible', 'width': '100px'}">
    <ng-template let-col let-task_activity_item="rowData" pTemplate="body">
      <mat-checkbox [checked]="task_activity_item.is_locked" (change)="onQAValueChanged($event, task_activity_item)"></mat-checkbox>
    </ng-template>
    <ng-template let-col let-task_activity_item="rowData" pTemplate="editor">
      <mat-checkbox [(ngModel)]="task_activity_item[is_locked]" [checked]="task_activity_item.is_locked" value="task_activity_item.is_locked" (change)="onQAValueChanged($event, task_activity_item)"></mat-checkbox>
    </ng-template>
  </p-column>
  <p-column field="link" header="Link" [style]="{'overflow':'visible', 'width': '50px'}">
    <ng-template pTemplate="emptymessage" let-col let-task_activity_item="rowData">
      <a *ngIf="task_activity_item.link" href="{{task_activity_item.link}}" target="_blank">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 482.8 482.8" style="enable-background:new 0 0 482.8 482.8; width: 20px; margin-top: 3px;" xml:space="preserve"><g><g>
        <path d="M255.2,209.3c-5.3,5.3-5.3,13.8,0,19.1c21.9,21.9,21.9,57.5,0,79.4l-115,115c-21.9,21.9-57.5,21.9-79.4,0l-17.3-17.3
			                        c-21.9-21.9-21.9-57.5,0-79.4l115-115c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-115,115C8.7,322.7,0,343.6,0,365.8
			                        c0,22.2,8.6,43.1,24.4,58.8l17.3,17.3c16.2,16.2,37.5,24.3,58.8,24.3s42.6-8.1,58.8-24.3l115-115c32.4-32.4,32.4-85.2,0-117.6
			                        C269.1,204,260.5,204,255.2,209.3z" />



        <path d="M458.5,58.2l-17.3-17.3c-32.4-32.4-85.2-32.4-117.6,0l-115,115c-32.4,32.4-32.4,85.2,0,117.6c5.3,5.3,13.8,5.3,19.1,0
			                        s5.3-13.8,0-19.1c-21.9-21.9-21.9-57.5,0-79.4l115-115c21.9-21.9,57.5-21.9,79.4,0l17.3,17.3c21.9,21.9,21.9,57.5,0,79.4l-115,115
			                        c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l115-115c15.7-15.7,24.4-36.6,24.4-58.8
			                        C482.8,94.8,474.2,73.9,458.5,58.2z" />



	                        </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                    </svg>
      </a>
    </ng-template>
  </p-column>
  <p-column field="customisation" header="Note" [style]="{'overflow':'visible', 'width': '100px'}">
    <ng-template pTemplate="emptymessage" let-col let-task_activity_item="rowData">
      <mat-icon matTooltip="{{task_activity_item.customisation}}" [matTooltipPosition]="'left'" class="icon-note">note</mat-icon>
    </ng-template>
  </p-column>
  <p-column field="id" id="task_activity_item.id" data-id="task_activity_item.id" header="Actions" [style]="{'overflow':'visible', 'width': '100px'}">
    <ng-template pTemplate="emptymessage" let-col let-task_activity_item="rowData">
      <mat-icon class="action-btn delete-btn" (click)="openDeleteTaskActivityItemDialog(task_activity_item)">delete</mat-icon>
      <mat-icon class="action-btn edit-btn" [routerLink]="['./', 'task-activities', activity.id, 'task-activity-items', task_activity_item.id, 'edit', {taskId: phase.task_id}]">edit</mat-icon>
    </ng-template>
  </p-column>

</p-dataTable>
