<app-navbar ></app-navbar>

<sub-navbar title="{{ project.name }}" classes="matrix-sub-navbar" class="sub-navbar" [breadcrumbs]="breadcrumbs">

  <mdc-toolbar-section [alignEnd]="true" class="toolbar-row__section sub-menu">
      <button mat-button (click)="duplicationMenu.open()">Duplicate project</button>
      <mdc-menu #duplicationMenu >
        <mdc-menu-item *ngFor="let project of listOfProjects" id="project.id" (click)="openDialog(project)">
          {{project.name}}
        </mdc-menu-item>
      </mdc-menu>
  </mdc-toolbar-section>
    <button mdc-fab #fab class="main-fab-btn" (click)="goBack()">
      <img class="main-fab-svg-image" src="/assets/icons/arrow-left.svg" alt="back" title="back" />
    </button>
</sub-navbar>

<div class="loading" *ngIf="!loaded; else matrix"><mat-spinner></mat-spinner></div>

<ng-template #matrix>
  <div class="matrix outer-wrapper">
    <div class="wrapper">
      <table class="table mat-elevation-z8">
        <thead class="table-header">
          <tr>
            <th class="cell"></th>
            <th class="cell discipline-header"*ngFor="let item of data.row_headers; let i = index;">{{ item }}</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr class="table-body-row" *ngFor="let design_stage of data.columns; let rowIndex = index;">
            <td class="cell design-stage-header">{{data.column_headers[rowIndex]}}</td>
            <td class="cell matrix-box" *ngFor="let data of design_stage.data; let i = index">
              <div class="created-design-stage circle" *ngIf="data.table.value; else create" [routerLink]="['/projects', project.id, 'tasks', data.table.value.id]">
                <mat-icon *ngIf="icons[i].icon; else svgTemplate">{{ icons[i].icon }}</mat-icon>
                <ng-template #svgTemplate>
                  <img src="{{icons[i].svg}}" />
                </ng-template>
              </div> 
              <ng-template #create>
                <div class="create-design-stage circle" (click)="createTask(project.id,  data.table.discipline, design_stage.header)"><mat-icon class="mat-icon--small">add</mat-icon></div> 
              </ng-template>
            </td>
          </tr> 
        </tbody>
      </table> 
    </div>
  </div>
</ng-template>

<ng-template #matrix1>
  <div class="outer-wrapper">
    <div class="wrapper" [draggable]>

      
      <div class="matrix-grid-row-headers">
        <div class="discipline-header matrix-box divider"></div>
        <div class="design-stage-header matrix-box" *ngFor="let item of data.column_headers; let i = index;">
          <span>{{ item }}</span>
        </div> 
      </div>

      <div class="matrix-grid">
        <div class="matrix-grid-body">
          <div class="discipline-header matrix-box" *ngFor="let item of data.row_headers; let i = index;">
              <span>{{ item }}</span>
          </div>
          <div class="matrix-box" *ngFor="let item of data.source_data; let i = index">
            <span>{{ data.source_data[i].table.value}}</span>
          </div> 
        </div>
      </div>
     </div>
  </div>
</ng-template>
