@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";



.circle {
  padding: 10px;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  margin: 0 auto;

  &.created-design-stage {
    background-color: transparent;
    opacity: 1;

    &:hover {
      opacity: 0.8;
    }

    .icon {
      color: $white;
    }
  }

  &.create-design-stage {
    background-color: transparent;
    opacity: 1;

    &:hover {
      opacity: 0.8;
      background: $primary-gray;
    }

    .mat-icon--small {
      font-size: 18px;
      text-align: center;
    }
  }
}

