
<!--<table>
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let item of data">{{item.discipline.category}}</th>
    </tr>
   </thead>
  <tbody>
    <tr *ngFor="let item of data; let i = index;">
      <td>{{item.discipline.design_stage[i].design_stage_category}}</td>
      <td *ngFor="let design_stage of item.discipline.design_stage">+</td>
    </tr>
  </tbody>
</table>

    -->

<div class="outer-wrapper">
  <div class="wrapper" [draggable]>
    <div class="box"></div>
    <div *ngFor="let item of data" class="box">{{item.discipline.category}}</div>

    <!-- Table Row -->
    <div class="row" *ngFor="let item of data; let i = index;">
      <div class="design-stage">{{item.discipline.design_stage[i].design_stage_category}}</div>
      <div *ngFor="let design_stage of item.discipline.design_stage" class="add">
        <div *ngIf="item.discipline.design_stage[i].params.method == 'create'"><i class="material-icons">add_box</i></div>
        <div *ngIf="item.discipline.design_stage[i].params.method == 'show'"><i class="material-icons">remove_red_eye</i></div>
      </div>
    </div>

  </div>
</div>
