/* You can add global styles to this file, and also import other style files */

// veriables and mixins
@import "assets/styles/variables.scss";
@import "assets/styles/mixins.scss";

$test_var: yellow;


/** ======================================================================= 
                            MATERIAL THEMES OVERRIDE
    ======================================================================= */



/*  -------------------        MATERIAL IO THEME -------------------------------*/

@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

$custom-typography: mat-typography-config( $font-family: 'Roboto Thin, Roboto, Helvetica Neue, Arial, sans-serif', $headline: mat-typography-level(32px, 48px, 700), $body-1: mat-typography-level(16px, 24px, 500) );

@include mat-base-typography($custom-typography);
@include mat-checkbox-typography($custom-typography);
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);

.mdc-toolbar__title, .mat-table, .mat-header-cell {
  font-family: $font--preferred !important;
  font-weight: $font--normal !important;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
  font-family: $font--preferred !important;
  font-weight: $font--normal !important;
}

.mat-raised-button {
  background: $primary-purple;
  color: $white!important;
}

.mat-button {
  &.primary {
    background: $primary-purple;
    color: $white;
  }
}

.mat-dialog-container {
  background: $primary-gray--light;
  color: $black;
}

td {
  .mat-checkbox-ripple {
    max-height: 30px;
    max-width: 30px;
    margin-left: 10px;
    margin-top: 10px;
  }
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $primary-purple--light;
}

/*  -------------------        END MATERIAL IO THEME -------------------------------*/



/*  -------------------        MDC THEME   -------------------------------*/

$mdc-theme-primary: $primary-purple;
$mdc-theme-secondary: $primary-purple--middle;
@import "~@angular-mdc/theme/material";

/*  -------------------        END MDC THEME   -------------------------------*/




/*  -------------------        PRIMENG THEME -------------------------------*/

$fontFamily: 'Roboto Thin', Roboto, Lucida Sans, Arial, sans-serif;
$fontSize: 1em;
$borderRadius: 6px;
$disabledOpacity: 0.35;

.ui-widget {
  font-family: $font--preferred !important;
  font-weight: $font--normal;
}

.ui-paginator {
  a {
    color: $primary-purple--light;
  }

  .ui-paginator-page {
    border-radius: 0;

    .ui-state-active {
      background: $primary-purple;
      border-color: $primary-purple;
      border-radius: 0;
    }
  }
}

.bar {
  .ui-datatable tbody {
    tr {
      &.ui-widget-content {
        border: none !important;
      }
    }

    tr.ui-widget-content.ui-datatable-odd {
      border: none !important;
    }
  }

  .ui-widget-content {
    border: none !important;
  }
}

.edit-mode {
  .ui-datatable {
    .ui-widget-header {
      background: #48a999;
      color: $white;
      text-transform: uppercase;
    }

    .ui-datatable-thead {
      > tr {
        > th {
          background: $primary-purple--light;
          color: $white;
          border: 1px solid $primary-purple--light !important;
        }
      }
    }

    .ui-inputtext {
      border: none !important;
      box-shadow: none !important;

      &.ui-state-focus, &:focus, &:enabled, &:hover {
        border: none !important;
        box-shadow: none !important;
        background: transparent;
      }
    }
  }
}

.bar {
  .ui-datatable {
    .ui-widget-header {
      background: $white;
      color: $black;
      text-transform: uppercase;
      border:none!important;
    }

    .ui-datatable-thead {
      > tr {
        > th {
          background: $white;
          color: $black;
          border: 1px solid $white !important;
        }
      }
    }

    .ui-datatable-data {
      > tr {
        >td {
          border:none!important;
        }
      }
    }
  }
}


//Header
$headerBorderWidth: 1px;
$headerBorderColor: #aed0ea;
$headerBgColor: #deedf7;
$headerTextColor: #222222;
$headerFontWeight: bold;
$headerIconTextColor: #222222;

//Content
$contentBorderWidth: 1px;
$contentBorderColor: #dddddd;
$contentBgColor: #f2f5f7;
$contentTextColor: #362b36;

//Default State
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: #aed0ea;
$stateDefaultBgColor: #d7ebf9;
$stateDefaultTextColor: #2779aa;

//Active State
$stateActiveBorderColor: #2694e8;
$stateActiveBgColor: #3baae3;
$stateActiveTextColor: #ffffff;

//Highlight State
$stateHighlightBorderColor: #f9dd34;
$stateHighlightBgColor: #ffef8f;
$stateHighlightTextColor: #363636;

//Focus State
$stateFocusBorderColor: #74b2e2;
$stateFocusBgColor: #e4f1fb;
$stateFocusTextColor: #0070a3;

//Error State
$stateErrorBorderColor: #cd0a0a;
$stateErrorBgColor: #cd0a0a;
$stateErrorTextColor: #ffffff;

//Hover State
$stateHoverBorderColor: #74b2e2;
$stateHoverBgColor: #e4f1fb;
$stateHoverTextColor: #0070a3;

//Forms
$inputBgColor: #ffffff;
$inputTextColor: #222222;
$invalidInputBorderColor: #cd0a0a;
$inputGroupTextColor: #2779aa;

@import '/assets/styles/material-themes/primeng-theme';

/*  -------------------      END PRIMENG THEME  -----------------------------*/



/** ======================================================================= 
                            END MATERIAL THEMES OVERRIDE
    ======================================================================= */



/** ======================================================================= 
                            TYPOGTAPHY
    ======================================================================= */

body {
  color: $primary-text;
  font-size: $font-size;
  font-family: $font--preferred;
  font-weight: $font--normal;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  background-color: $white;
}

h1 {
  color: green;
}

h1 {
  font-size: 30px;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font--preferred;
  font-weight: $font--normal;
}

p, h1, h2, h3, h4, h5, h6 {
  color: #343333;
  
}

p {
  font-size: 14px;
  line-height: 1.42;
  font-weight: $font--normal;
}

a {
  text-decoration: none;
  color: $white;

  &:hover {
    color: $primary-purple--light;
  }
}

/** ======================================================================= 
                            END TYPOGTAPHY
    ======================================================================= */




/** ======================================================================= 
                            COMMON COMPONENT STYLES
    ======================================================================= */


/*  -------------------    NAV BAR  -----------------------------*/

.navbar-header {
  @include flex();
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 16px;
}


/*  -------------------    END NAV BAR  -----------------------------*/


/*  -------------------    SUB NAV BAR  -----------------------------*/

.sub-navbar {
  .sub-toolbar {
    .sub-toolbar-row {
      .sub-toolbar-row__section {
        @include flex();
        align-items: center;

        .title {
          font-size: 1em!important;
          span {
            font-size: 1.2em;
          }
        }

        .main-fab-btn {
          position: absolute;
          right: 15px;
          top: 50%;
          z-index: 2;
          background-color: $red;
        }

        .search {
          position: relative;
          bottom: 0;
          left: 20px;
        }
      }
    }
  }

  .sub-menu {
    padding-right: 70px;

    @include tablet() {
      display: none;
    }

    @include phone() {
      display: none;
    }
  }
}

.matrix-sub-navbar {
  margin-bottom: 0;

  .sub-toolbar-row {

    .sub-toolbar-row__section {

      .add-btn {
        position: absolute;
        right: 15px;
        top: 100%;
        z-index: 2;
        background-color: transparent;
        line-height: 60px;
      }

      .search {
        position: relative;
        top: 10px;
        left: 20px;
      }
    }
  }
}

/*  -------------------    END NAV BAR  -----------------------------*/


// BAR CHART

.bar-chart > div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

// GANTT CHART

#container {
  margin: 0 auto;
  position: relative;
  overflow: visible;

  .phase-section {
    background-color: $white;
  }

  .chart-header {
    text-align: left;


    h2 {
      font-size: 20px;
      background: $primary-purple--middle;
      padding: 0.5em;
      color: $white;
    }
  }
}


// SELECT
@import "~@ng-select/ng-select/themes/material.theme.css";



// loading 
.loading {
  margin-top: 100px;

  .mat-spinner {
    margin: 50px auto;

    svg {
      circle {
        stroke: $primary-purple;
      }
    }
  }
}


// form 
.form {
  max-width: 400px;
  margin: 0 auto;
  @include flex();
  flex-direction: column;

  .input-field {
    //color: $primary-gray;
  }


  .mat-form-field-wrapper {

    .mat-form-field-label {
      color: $primary-gray;
    }

    .mat-form-field-underline {
      background-color: $primary-gray;

      .mat-input-ripple {
        background-color: $primary-purple;
      }
    }

    .form-text-area {
      min-height: 100px;
    }

    .mat-select-value {
      color: $primary-gray;
    }
  }

  .file-uploader {
    .mat-input-underline, mat-input-subscript-wrapper {
      display: none;
    }
  }
}


.flex-spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

svg g {
  font-family: $font--preferred !important;
  font-weight: $font--normal !important;
}

.action-btn {
  //background: green;
  //color: $white !important;
}


// switch
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;

  input {
    display: none;
  }
}

// slider
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 0px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

input:checked + .slider {
  background-color: $primary-purple;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*  -------------------    OVERRIDE MATERIAL STYLE  -----------------------------*/
.mat-input-element, .select {
  color: $primary-purple--middle;
}
.mat-table {
  background-color: $primary-gray--light;
  @include mat-elevation-transition;
  @include mat-elevation(0);

  .mat-row {
    @include mat-elevation-transition;
    @include mat-elevation(0);

    &:active {
      @include mat-elevation(8);
    }
  }
}

.form .mat-form-field-wrapper .mat-select-value {
  color: #343333;
}

.layout-wrapper {
  max-width: $max-width;
  margin: 0 auto;

  .elevation-container {
    border-radius: 6px;
    max-width: 600px;
    padding: 50px;
    margin: 0 auto;
  }
}


.mdc-grid-list {
  .mdc-grid-list__tiles {

    .mdc-grid-tile {
      width: 370px;
      margin: 15px 20px;
      padding: 0;

      .mdc-grid-tile__primary {
        .project-card {
          justify-content: space-between;

          &:hover {
            .card-action {
              .card-action-icons {
                .icon {
                  opacity: 1;
                }
              }
            }
          }

          .primary-action {
            cursor: pointer;

            img {
              width: 100%;
              max-height: 185px;
            }
          }

          .card-action {
            min-height: 20px;

            .project-card__primary {
              cursor: pointer;

              .project-card__title {
                margin: 0 5px 0 0;
                font-weight: 200;
              }
            }

            .card-action-icons {
              height: 20px;

              .icon {
                color: $primary-icon;
                padding: 5px;
                font-size: 20px;
                opacity: 0;

                &:hover {
                  color: $primary-icon--hover;
                }
              }
            }
          }
        }
      }
    }

    @include phone() {
      justify-content: center;
    }
  }
}

/*  -------------------    END OVERRIDE MATERIAL STYLES  -----------------------------*/


