@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.activities {
  @include flex();
  flex-flow: row wrap;
  padding: 0 10px;

  h4 {
    flex: 0 0 100%;
  }

  .ng-star-inserted {
    @include flex();
    align-items: center;
  }
}

h2 {
  text-align: left;
  background: $primary-purple--middle;
  margin: 0;
  color: $white;
  padding: 0 16px;
  font-size: 20px;
  padding: 0.5em;
}

.inputs {
  padding: 0 ;
  background: $white;
  margin-bottom: 16px;

  .sub-title {
    color: $primary-purple;
  }
}
