
<div *ngFor="let phase of dataSource; let i = index" class="ui-g-12 inputs">
  <h2>{{phase.category}}</h2>

  <div *ngFor="let item of phase.task_activities; let secI = index" class="activities">
    <h4 class="sub-title">{{item.name}}</h4>
    <div class="ui-g-12 ui-md-5">
      <div *ngFor="let task_activity_items of item.task_activity_items">
        <h5>{{task_activity_items.name}}</h5>
      </div>
    </div>
    <div class="ui-g-12 ui-md-7">

      <google-chart *ngIf="currentData[i].data[secI].google.dataTable[1][1] != 0 && currentData[i].data[secI].google.dataTable[2][1] != 0" [data]="currentData[i].data[secI].google"></google-chart>

    </div>
  </div>
</div>
