<form class="form" [formGroup]="addTaskActivity">
  <mat-form-field class="form-full-width">
    <input matInput formControlName="name" placeholder="Name" class="input-field">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Task phase" formControlName="task_phase_id">
      <mat-option *ngFor="let taskPhase of taskPhases" [value]="taskPhase.id">
        {{ taskPhase.category }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-full-width file-uploader">
    <file-uploader formControlName="image" placeholder="Image" (onUploaded)="onUploadedImage($event)"></file-uploader>
  </mat-form-field>

  <mat-form-field class="form-full-width">
    <textarea matInput formControlName="description" placeholder="Description" atTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" class="form-text-area"></textarea>
  </mat-form-field>

  <mdc-form-field [alignEnd]="true">
    <mdc-switch formControlName="is_enabled"></mdc-switch>
    <label class="switch-label">Is enable</label>
  </mdc-form-field>
  <button *ngIf="isEdit" class="btn delete-btn" mat-button type="button" (click)="openDeleteTaskActivityDialog(_taskActivity)">Delete</button>
</form>
