<div class="reset-info">
  <h2>Retrieve Password</h2>
  <p>Please enter your registered email address, we will send you a link to reset your password.</p>
</div>

<div class="reset-password">
  <form [formGroup]="resetPasswordForm" class="reset-password-form" (ngSubmit)="onSubmit()">
    <!-- Email Field -->
    <div class="col-sm-12">
      <input id="email" formControlName="email" placeholder="Your Email*" type="text" value="" [ngClass]="{'error-field': (resetPasswordForm.controls['email'].hasError('required') || resetPasswordForm.controls['email'].hasError('email')) && resetPasswordForm.controls['email'].touched }">
      <div class="error" *ngIf="resetPasswordForm.controls['email'].hasError('email') && resetPasswordForm.controls['email'].touched">
        <span *ngIf="resetPasswordForm.controls['email'].hasError('required'); else requiredError">Email is <strong>required</strong></span>
        <ng-template #requiredError>Please enter a valid email address</ng-template>
      </div>
    </div>
    <!-- Email Field [ END ] -->

    <div class="col-xs-12">
      <button class="submit active" type="submit" [disabled]="!resetPasswordForm.valid">Submit</button>
    </div>
    <div class="reset-password-login">Remember password? <a [routerLink]="['/login']">Login</a></div>
  </form>
</div>

