@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";

.wrapper {
  text-align: center;
  @include flex();
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $primary-purple--light;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  color: $white;

  h2 {
    color: $white;
  }

  a {
    color: $white;

    &:hover {
      color: $white;
    }
  }
}
