@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";

.wrapper {
  text-align: center;
  @include flex();
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $primary-purple--light;
  overflow: hidden;
  height: calc(100vh - 20px); 
  color: $white;

  h2 {
    color: $white;
  }

  a {
    color: $white;

    &:hover {
      color: $white;
    }
  }
}

.list {
  background: #fff;
  width: 230px !important;
}

.listitem {
  cursor: pointer;
}

.active {
  background: #eee;
}

qp-select {
  color: $primary-purple !important;
  margin-bottom: 15px;

  .wrapper-dropdown {
    .label {
      color: $primary-purple !important;
    }
  }
}
